body {
  background-image: url('./app/assets/back-ground-pixel.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

#title {
  padding-top: 50px;
  text-align: center;
}

#logo-title {
  width: 250px;
}

#input-and-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  
}

#define-input-and-btn {
  background-color: #82ad87;
  width: auto;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

input#define-square-size {
  border-radius: 5px;
  background-color:#2d6b0a;
  border: none;
  height: 30px;
  width: 371px;
  color: #ffffff;
}

input#define-square-size:focus {
  outline: none;
}

input#define-square-size:focus::placeholder {
  color: #2d6b0a;
}

input#define-square-size::placeholder {
  color: #ffffff;
}

div#canvas-tools {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

div#tolls {
  background-color: #82ad87;
  width: auto;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 5px;

}

button{
  align-items: center;
	border-radius: 5px;
	border: none;
	cursor:pointer;
  height: 30px;
  margin: 0px 5px;
  color: #ffffff;
}

button img {
  align-items: center;
  width: 30px;
}

button#define-button {
  width: 60px;
  background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
}

button#define-button:hover{
  background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
}

button#clear-all-button {
  background:linear-gradient(to bottom, #cc0b0b 5%, #9b0404 100%);
}

button#clear-all-button:hover{
  background:linear-gradient(to bottom, #c90303 5%, #cc0b0b 100%);
}

button#clear-one-button:hover{
  background:linear-gradient(to bottom, #c2bfbf 5%, #cecbcb 100%);
  
}

button#save-button {
  margin-left: 100px;
  background:linear-gradient(to bottom, #811f6d 5%, #9e06ac 100%);
}

button#save-button:hover{
  background:linear-gradient(to bottom, #9e06ac 5%, #811f6d 100%);
}

button#define-button:active, button#clear-all-button:active, button#save-button:active{
  position:relative;
  top:1px;
}

#color-palette {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

#colors {
  border: none;
  border-radius: 5px;
  background-color: #82ad87;
  width: 50%;
  text-align: center;
}

.color {
  border: none;
  border-radius: 5px;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 5px;
  transition: transform 0.2s ease;
}

.color:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.color:active {
  transform: scale(0.8);
}

#pixel-board {
  text-align: center;
  margin: auto;
  font-size: 0%;
  margin-bottom: 20px;
}

.pixel {
  background-color: white;
  display: inline-block;
  text-align: center;
  height: 40px;
  width: 40px;
}
