body {
  background-image: linear-gradient(#b87333, #663b13);
  background-repeat: no-repeat;
}

input {
  border-radius: 5px;
  background-color:#c7925a;
}

input::placeholder {
  color: #ffffff;
}

